.activeGameContainer {
    display: flex;
    position: relative;


    .timerContainer {
        position: absolute;
        top: -6rem;
        display: flex;
        flex-direction: column-reverse;
        .timer { margin: 0; }
    }
}
