.activeGameContainer {
    position: absolute;
    top: 0;
    background: black;
    color: white;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop {
    position: absolute;
    top: -10%;
    z-index: -1;
    width: 153%;
}

.batteryScoreboard {
    position: absolute;
    top: 0;
    left: 0.3rem;
    display: flex;
    align-items: center;

    .battery { margin-top: 0.15rem; }
    
    .currentScore {
        margin: 0;
        margin-left: 0.2rem;
    }

    .batteryCharging { color: $chargingColor; } // class toggle
    .batteryProblem { color: black; } // class toggle
}
   
.timerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;

    .timerStatus {
        position: relative;
        top: 0.25rem;
        text-transform: uppercase;
        line-height: 0;
    }

    .timer {
        position: relative;
        top: 1rem;
    }

    .timer1 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 0.2rem;
    }

    .timer2, .timer3, .timer4 { font-size: 0.75rem; }
    .timer2 { opacity: 0.8; }
    .timer3 { opacity: 0.6; }
    .timer4 { opacity: 0.4; }
}

.instructions {
    position: absolute;
    top: -5rem;
    padding: 0.5rem;
    background: adjust-color($depletingColor, $lightness: 30%);
    border: 0.1rem solid $depletingColor;
    border-radius: 0.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .instructionsText {
        margin: 0 0 0 0.5rem;
        font-size: 0.75rem;
    }
}

// Media queries
@media (min-width: 400px) {
    .activeGameContainer { top: 1.5rem; }
    .instructions { top: -4rem; }
}

@media (min-width: 600px) {
    .activeGameContainer { top: 2.25rem; }
    .timerContainer .timer1 { margin: 1rem 0; }
}

// Animations for laptop screen
.depletingAlert {
    animation-name: depletingAlert;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes depletingAlert {
    from { background: adjust-color($depletingColor, $lightness: -40%); }
    to { background: $depletingColor; }
}

.warningAlert {
    background: adjust-color($warningColor, $lightness: -10%);
}