.activeGameContainer {
    position: absolute;
    top: 0;
    background: black;
    color: white;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop {
    position: absolute;
    top: -10%;
    z-index: -1;
    width: 153%;
}

.batteryScoreboard {
    position: absolute;
    top: 0;
    left: 0.3rem;
    display: flex;
    align-items: center;

    .currentScore {
        margin: 0;
        margin-left: 0.2rem;
    }
}
   
.timerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;

    .timer {
        margin: 0;
        position: relative;
        top: 1rem;
    }
    
    .timer1 {
        font-size: 2rem;
        position: relative;
        z-index: 40;
        line-height: 2rem;
    }
    .timer2, .timer3, .timer4 { font-size: 0.5rem; }
    
    .timer2 {
        opacity: 0.8;
        position: relative;
        z-index: 30;
    }
    
    .timer3 {
        opacity: 0.6;
        position: relative;
        z-index: 20;
    }
    
    .timer4 {
        opacity: 0.4;
        position: relative;
        z-index: 10;
    }
}