// Class toggles for transition animations
.plugRight {
    right: calc(-#{$plugLength} + 4rem);
    transition: all 1.5s ease-in-out;
}
.plugLeft {
    right: calc(100% + 4rem);
    transition: all 1.5s ease-in-out;
}

// .plugInMotion {
//     animation: plugInMotion 0.5s linear 0 1 normal forwards;
// }

.containerCenter {
    position: absolute;
    left: 0;
    transition: left 1.5s ease-in-out;
}

.containerLeft {
    position: absolute;
    left: calc(-#{$plugLength} - 100%);
    transition: left 1.5s ease-in-out;
}

.containerRight {
    position: absolute;
    left: calc(#{$plugLength} + 100%);
    transition: left 1.5s ease-in-out;
}

.batteryCharging {
    animation-name: batteryCharging;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

// Keyframe animations
@keyframes plugInMotion {
    from {
        right: calc(100% + 3rem);
    }
    to {
        right: calc(100% - 15px);
    }
}

@keyframes batteryCharging {
    0% {
        box-shadow: 0 0 3rem 1rem yellow;
    }
    75% {
        box-shadow: 0 0 3rem 0.2rem yellow;
    }
}