.warningAlert {
    animation-name: warningAlert;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes warningAlert {
    from { background: black; }
    to { background: $warningColor; }
}

.depletingAlert {
    background: $depletingColor;
}

.batteryCharging {
    color: $chargingColor;
}

.batteryProblem {
    color: black;
}