.depletingAlert {
    animation-name: depletingAlert;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes depletingAlert {
    from { background: adjust-color($depletingColor, $lightness: -40%); }
    to { background: $depletingColor; }
}

.warningAlert {
    background: adjust-color($warningColor, $lightness: -10%);
}

.batteryCharging {
    color: $chargingColor;
}

.batteryProblem {
    color: black;
}

