.keyboardControls {
    position: absolute;
    bottom: -5rem;
    display: flex;
}

.keyboardButton {
    position: relative;
    background: #222;
    color: white;
    box-shadow: 0.1rem 0.1rem 0 0.1rem #111;
    border-radius: 0.1rem;
    border: none;
    width: 4rem;
    height: 4rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0.5rem;
}
.keyboardButton:hover {
    top: 0.05rem;
    left: 0.05rem;
    box-shadow: 0.05rem 0.05rem 0 0.1rem black;
}

.keyboardButton:focus {
    background: #555;
}

.keyboardButton:active {
    top: 0.1rem;
    left: 0.1rem;
    box-shadow: 0 0 0 0.1rem black;
}