.keyboardControls {
    position: absolute;
    bottom: -11.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboardButton {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    padding: 0.1rem 0.1rem 0.1rem 0.15rem;
    background: #222;
    color: white;
    box-shadow: 0.1rem 0.1rem 0 0.1rem #111;
    border-radius: 0.5rem;
    border: none;
    text-transform: uppercase;
}

.restartButton { display: block; margin: 1rem 0 0; }

.key {
    display: block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.buyButton .key { margin-bottom: 0.2rem;}

.pauseButton .key { line-height: 2rem; }

.keyDescription {
    display: block;
    font-size: 0.5rem;
    margin: 0;
}

.keyboardButton:hover {
    top: 0.05rem;
    left: 0.05rem;
    box-shadow: 0.05rem 0.05rem 0 0.1rem black;
}

.keyboardButton:focus {
    background: #555;
}

.keyboardButton:active {
    top: 0.1rem;
    left: 0.1rem;
    box-shadow: 0 0 0 0.1rem black;
}

.keyboardButtonFlash {
    animation-name: keyboardButtonFlash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes keyboardButtonFlash {
    from { background: #222; }
    to { background: #555; }
}

@media (min-width: 560px) {
    .keyboardControls { bottom: -7rem; }
}