// ===== STYLES FOR PLUG =====
.plug {
    position: absolute;
    top: calc(0.5rem + 65% - #{$plugSize} / 2);
    z-index: -1; // plug always appears underneath other elements

    .plugHead {
        transform: rotate(90deg);
        width: $plugSize;
    }
}

// This is the cable for the plug
.plug::before {
    content: "";
    position: absolute;
    left: -$cableLength;
    top: 1.125rem;
    height: 0.75rem;
    width: $cableLength;
    background: black;
}


// ===== TRANSITION ANIMATIONS FOR PLUG =====

// This is the position of the plug when starting game
.plugRight {
    left: calc(#{$cableLength} + 100%);
    transition: left 1.5s ease-in-out;
}

// This is the position of the plug when game has started
.plugLeft {
    left: -$plugSize - 5rem;
    transition: left 1.5s ease-in-out;
}

// This transition creates an animation
// that looks like the plug is being plugged into the laptop
.plugInMotion {
    left: -$plugSize;
    transition: left 0.3s ease-in-out;
}

@media (min-width: 400px) {
    .plug { top: calc(2rem + 65% - #{$plugSize} / 2); }
}

@media (min-width: 600px) {
    .plug { top: calc(2.75rem + 65% - #{$plugSize} / 2); }
}