// Required imports to prepare stylesheet
@import "partials/setup";
@import "partials/variables";

// Style imports for general styles
@import "partials/typography";

html {
    color: black;
}

main {
    // Prevent overflow of absolute positioned elements beyond viewport
    overflow-x: hidden;
    // Sets up canvas
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // Centers .displayContainer
    display: flex;
    align-items: center;
    justify-content: center;
}

// This is the zone where information and interaction occurs
.displayContainer {
    position: relative;
    width: 80%;
    max-width: 20rem;
    height: 80vw;
    max-height: 20rem;
}

// Class toggles for transition animations of start prompt and active game container

.containerCenter {
    position: absolute;
    left: 0;
    transition: left 1.5s ease-in-out;
}

.containerLeft {
    position: absolute;
    left: calc(-100% - #{$cableLength} - #{$plugSize});
    transition: left 1.5s ease-in-out;
}

.containerRight {
    position: absolute;
    left: calc(100% + #{$cableLength} + #{$plugSize});
    transition: left 1.5s ease-in-out;
}

// Styles for discrete parts of website
@import "partials/plug";
@import "partials/startPrompt";
@import "partials/activeGameContainer";
@import "partials/keyboard";

@import "partials/gameStatus";
