// Required imports to prepare stylesheet
@import "partials/setup";
@import "partials/variables";

// Style imports for general styles
@import "partials/typography";

* { 
    // Border for practice
    // border: 1px solid tomato;
}

html {
    // Sets font size to 20px for most browsers
    font-size: 125%;
    color: black;
    
    // Hides overflow of elements stretching beyond screen
    overflow-x: hidden;
}

main {
    // Sets up canvas
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // Centers .displayContainer
    display: flex;
    align-items: center;
    justify-content: center;
}

// This is the zone where information and interaction occurs
.displayContainer {
    position: relative;
    width: 80%;
    max-width: 20rem;
    height: 80vw;
    max-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plug {
    position: absolute;
    z-index: -1;
}


.plug {
    position: absolute;
    z-index: -1;

    .plugHead {
        transform: rotate(90deg);
        width: 3rem;
    }
}

.plug::before {
    content: "";
    position: absolute;
    left: -$plugLength;
    top: 1.125rem;
    height: 0.75rem;
    width: $plugLength;
    background: black;
}

// Styles for discrete parts of website
@import "partials/startPrompt";
@import "partials/activeGame";

@import "partials/animations";