// Required imports to prepare stylesheet
@import "partials/setup";
@import "partials/variables";

// Style imports for general styles
@import "partials/typography";

* { 
    // Border for practice
    border: 1px solid tomato;
}

html {
    // Sets font size to 20px for most browsers
    font-size: 125%;
    color: black;
    
    // Hides overflow of elements stretching beyond screen
    overflow-x: hidden;
}

main {
    // Sets up canvas
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // Centers .displayContainer
    display: flex;
    align-items: center;
    justify-content: center;
}

// This is the zone where information and interaction occurs
.displayContainer {
    position: relative;
    width: 80%;
    max-width: 20rem;
    height: 80vw;
    max-height: 20rem;
}

// Class toggles for transition animations of start prompt and active game container

.containerCenter {
    position: absolute;
    left: 0;
    transition: left 1.5s ease-in-out;
}

.containerLeft {
    position: absolute;
    left: calc(-100% - #{$cableLength} - #{$plugSize});
    transition: left 1.5s ease-in-out;
}

.containerRight {
    position: absolute;
    left: calc(100% + #{$cableLength} + #{$plugSize});
    transition: left 1.5s ease-in-out;
}



// Styles for discrete parts of website
@import "partials/plug";
@import "partials/startPrompt";
@import "partials/activeGame";

// @import "partials/animations";