// Required imports to prepare stylesheet
@import "partials/setup";
@import "partials/variables";

// Style imports for general styles
@import "partials/typography";

* { 
    // Border for practice
    border: 1px solid tomato;
}

html {
    // Sets font size to 20px for most browsers
    font-size: 125%;
    color: black;
    
    // Hides overflow of elements stretching beyond screen
    overflow-x: hidden;
}

main {
    // Sets up canvas
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // Centers .displayContainer
    display: flex;
    align-items: center;
    justify-content: center;
}

// This is the zone where information and interaction occurs
.displayContainer {
    position: relative;
    width: 80%;
    max-width: 20rem;
    height: 80vw;
    max-height: 20rem;
}

.plug {
    position: absolute;
    z-index: -1;
}


.plug {
    position: absolute;
    top: calc(65% - #{$plugSize} / 2);
    z-index: -1;

    .plugHead {
        transform: rotate(90deg);
        width: $plugSize;
    }
}

.plug::before {
    content: "";
    position: absolute;
    left: -$cableLength;
    top: 1.125rem;
    height: 0.75rem;
    width: $cableLength;
    background: black;
}

// ANIMATIONS

// Class toggles for transition animations
.plugRight {
    left: calc(#{$cableLength} + 100%);
    transition: all 1.5s ease-in-out;
}
.plugLeft {
    left: -$plugSize - 5rem;
    transition: all 1.5s ease-in-out;
}

.containerCenter {
    position: absolute;
    left: 0;
    transition: left 1.5s ease-in-out;
}

.containerLeft {
    position: absolute;
    left: calc(-100% - #{$cableLength} - #{$plugSize});
    transition: left 1.5s ease-in-out;
}

.containerRight {
    position: absolute;
    left: calc(100% + #{$cableLength} + #{$plugSize});
    transition: left 1.5s ease-in-out;
}

.batteryCharging {
    animation-name: batteryCharging;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

.plugInMotion {
    // animation: plugInMotion 0.5s linear 0 1 normal forwards;
    left: -$plugSize;
    transition: all 0.3s ease-in-out;
}

// Keyframe animations
@keyframes plugInMotion {
    from {
        left: -$plugSize - 5rem;
    }
    to {
        left: -$plugSize;
    }
}

@keyframes batteryCharging {
    0% {
        box-shadow: 0 0 3rem 1rem yellow;
    }
    75% {
        box-shadow: 0 0 3rem 0.2rem yellow;
    }
}


// Styles for discrete parts of website
@import "partials/startPrompt";
@import "partials/activeGame";

@import "partials/animations";