article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lobster Two", cursive;
}

h1 {
  margin: 0;
  font-size: 3rem;
  line-height: 3rem;
}

p, i {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

html {
  font-size: 125%;
  color: black;
}

main {
  overflow-x: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.displayContainer {
  position: relative;
  width: 80%;
  max-width: 20rem;
  height: 80vw;
  max-height: 20rem;
}

.containerCenter {
  position: absolute;
  left: 0;
  -webkit-transition: left 1.5s ease-in-out;
  transition: left 1.5s ease-in-out;
}

.containerLeft {
  position: absolute;
  left: calc(-100% - 200rem - 3rem);
  -webkit-transition: left 1.5s ease-in-out;
  transition: left 1.5s ease-in-out;
}

.containerRight {
  position: absolute;
  left: calc(100% + 200rem + 3rem);
  -webkit-transition: left 1.5s ease-in-out;
  transition: left 1.5s ease-in-out;
}

.plug {
  position: absolute;
  top: calc(65% - 3rem / 2);
  z-index: -1;
}

.plug .plugHead {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 3rem;
}

.plug::before {
  content: "";
  position: absolute;
  left: -200rem;
  top: 1.125rem;
  height: 0.75rem;
  width: 200rem;
  background: black;
}

.plugRight {
  left: calc(200rem + 100%);
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.plugLeft {
  left: -8rem;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.plugInMotion {
  left: -3rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.startPrompt {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #222;
  color: white;
  -webkit-box-shadow: 0.3rem 0.3rem 0 0.1rem #111;
          box-shadow: 0.3rem 0.3rem 0 0.1rem #111;
  border-radius: 1rem;
}

.startPrompt .appIcon {
  font-size: 1.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  top: 0.9rem;
}

.startPrompt .appDescription {
  position: absolute;
  bottom: -5rem;
  color: black;
}

.startPrompt .startButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: none;
  opacity: 0;
}

.startPrompt:hover {
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0 0.1rem black;
          box-shadow: 0.2rem 0.2rem 0 0.1rem black;
}

.startPrompt:focus {
  border: 0.05rem solid yellow;
}

.startPrompt:active {
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  -webkit-box-shadow: 0.05rem 0.05rem 0 0.1rem black;
          box-shadow: 0.05rem 0.05rem 0 0.1rem black;
}

.activeGameContainer {
  position: absolute;
  top: 0;
  background: black;
  color: white;
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.laptop {
  position: absolute;
  top: -10%;
  z-index: -1;
  width: 153%;
}

.batteryScoreboard {
  position: absolute;
  top: 0;
  left: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.batteryScoreboard .currentScore {
  margin: 0;
  margin-left: 0.2rem;
}

.timerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.timerContainer .timerStatus {
  position: relative;
  top: 0.25rem;
  text-transform: uppercase;
  line-height: 0;
}

.timerContainer .timer {
  position: relative;
  top: 1rem;
}

.timerContainer .timer1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0.2rem;
}

.timerContainer .timer2, .timerContainer .timer3, .timerContainer .timer4 {
  font-size: 0.75rem;
}

.timerContainer .timer2 {
  opacity: 0.8;
}

.timerContainer .timer3 {
  opacity: 0.6;
}

.timerContainer .timer4 {
  opacity: 0.4;
}

.instructions {
  position: absolute;
  top: -5rem;
  padding: 0.5rem;
  background: #fed1d0;
  border: 0.1rem solid #fc3d39;
  border-radius: 0.5rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructions .instructionsText {
  margin: 0 0 0 0.5rem;
  font-size: 0.75rem;
}

.keyboardControls {
  position: absolute;
  bottom: -11.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyboardButton {
  position: relative;
  background: #222;
  color: white;
  -webkit-box-shadow: 0.1rem 0.1rem 0 0.1rem #111;
          box-shadow: 0.1rem 0.1rem 0 0.1rem #111;
  border-radius: 0.1rem;
  border: none;
  width: 4rem;
  height: 4rem;
  text-transform: uppercase;
  margin: 0.5rem;
  padding: 0.1rem;
}

.restartButton {
  display: block;
  margin: 1rem 0 0;
}

.key {
  display: block;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.buyButton .key {
  margin-bottom: 0.2rem;
}

.pauseButton .key {
  line-height: 2rem;
}

.keyDescription {
  display: block;
  font-size: 0.5rem;
  margin: 0;
}

.keyboardButton:hover {
  top: 0.05rem;
  left: 0.05rem;
  -webkit-box-shadow: 0.05rem 0.05rem 0 0.1rem black;
          box-shadow: 0.05rem 0.05rem 0 0.1rem black;
}

.keyboardButton:focus {
  background: #555;
}

.keyboardButton:active {
  top: 0.1rem;
  left: 0.1rem;
  -webkit-box-shadow: 0 0 0 0.1rem black;
          box-shadow: 0 0 0 0.1rem black;
}

.keyboardButtonFlash {
  -webkit-animation-name: keyboardButtonFlash;
          animation-name: keyboardButtonFlash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes keyboardButtonFlash {
  from {
    background: #222;
  }
  to {
    background: #555;
  }
}

@keyframes keyboardButtonFlash {
  from {
    background: #222;
  }
  to {
    background: #555;
  }
}

.depletingAlert {
  -webkit-animation-name: depletingAlert;
          animation-name: depletingAlert;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes depletingAlert {
  from {
    background: #670402;
  }
  to {
    background: #fc3d39;
  }
}

@keyframes depletingAlert {
  from {
    background: #670402;
  }
  to {
    background: #fc3d39;
  }
}

.warningAlert {
  background: #d8aa01;
}

.batteryCharging {
  color: #53d769;
}

.batteryProblem {
  color: black;
}
